<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:object="${blog}">
    <!--<ul th:if="${#fields.hasErrors()}">
        <li th:each="er : ${#fields.errors()}" th:text="${er}"></li>
    </ul>-->
  Title : <input type="text" name="title" /> <br>
    <span th:if="${#fields.hasErrors('title')}" th:text="${#fields.errors('title')}"></span>
  Title2 : <input type="text" name="title2" /> <br>
    <span th:if="${#fields.hasErrors('title2')}" th:errors="${title2}"></span>
    Body : <input type="text" name="body" /> <br>
  <input type="submit" value="save blog">
</form>
</body>
</html>